@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

#landing{
    background: linear-gradient(#141e30,#243b55);
}

.row{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container{
    padding: 48px 0;
}

/*

NAV

*/

.nav__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo--name{
    font-size: 28px;
    color: rgb(22, 247, 172);
    cursor: pointer;
}

.nav__links{
    display: flex;
}

.nav__link{
    position: relative;
    margin: 28px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: aquamarine;
}


.nav__link--hover:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: aquamarine;
    transition: all 300ms ease;
}

.nav__link--hover:hover:after{
    left: 0;
    width: 100%;
}

.nav__link--button{
    background-color: white;
    color: #243b55;
    padding: 16px 36px;
    border-radius: 32px;
    overflow: hidden;
    transition: all 300ms ease;
    cursor: pointer;
}

.nav__link--button:hover{
    background-color: aquamarine;
    color: white;
}

/*

HEADER

*/

.header__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__description{
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    color: white;
    padding-bottom: 48px;
}

.header__title{
    font-size: 28px;
    font-weight: 400;
    color: aquamarine;
    padding-bottom: 20px;
}
.header__search-bar{
    position:relative;
}

.header__search-bar--input{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 124px;
    border-radius: 48px;
    font-size: 24px;
}

.header__button{
    position: absolute;
    right: 30px;
    top: 20px;
    background-color: white;
    color: #243b55;
    border-radius: 32px;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    border: none;
    transition: all 300ms ease;
}

.header__button:hover{
    color: aquamarine;
}

/*

MOVIES

*/

.search__results{
    color: black;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.movies__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie__img--wrapper{
    max-width: 300px; 
    display: flex;
    overflow: hidden;
}

.movie__img{
    width: 100%;
    /* transition: all 400ms ease; */
}

.movie{
    margin: 36px;
    max-width: 300px;
    transition: all 400ms ease;
}

.movie__title{
    flex-wrap: wrap;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-top: 12px;
}

/* Makes entire movie container larger */
.movie:hover{
    cursor: not-allowed;
    transform: scale(1.05);
}


/* Makes movie image larger only inside the wrapper/container */
/* .movie:hover .movie__img{
    cursor: not-allowed;
    transform: scale(1.05);
} */


