@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

#landing{
    background: linear-gradient(#141e30,#243b55);
}

.row{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container{
    padding: 64px 0;
}

/*

NAV

*/

.nav__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo--name{
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.nav__links{
    display: flex;
}

.nav__link{
    position: relative;
    margin: 28px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all 300ms ease;
}


.nav__link--hover:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: white;
    transition: all 300ms ease;
}

.nav__link--hover:hover:after{
    left: 0;
    width: 100%;
}

.nav__link--button{
    background-color: white;
    color: #243b55;
    padding: 16px 36px;
    border-radius: 32px;
    overflow: hidden;
    transition: all 300ms ease;
    cursor: pointer;
}

.nav__link--button:hover{
    background-color: aquamarine;
}

/*

HEADER

*/

.header__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title{
    font-size: 36px;
    font-weight: 400;
    color: white;
    letter-spacing: 12px;
    padding-bottom: 48px;
}
.header__search-bar{
    position:relative;
}

.header__search-bar--input{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 124px;
    border-radius: 48px;
    font-size: 24px;
}

.header__button{
    position: absolute;
    right: 30px;
    top: 20px;
    background-color: white;
    color: #243b55;
    border-radius: 32px;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    border: none;
    transition: all 300ms ease;
}

.header__button:hover{
    color: aquamarine;
}


